---
layout: default
---

  <div class="section no-pad-bot" id="index-banner" style="position: relative">
    <div id="backgroundImg" style="width: 100vw; height: 100vh; position: absolute; top: 0; left: 0; z-index: -5; background-size: cover; background-repeat: no-repeat; background-color: #303030"></div>
    <div id="backgroundImg2" style="width: 100vw; height: 100vh; position: absolute; top: 0; left: 0; z-index: -6; background-size: cover; background-repeat: no-repeat; background-color: #303030;"></div>
    <div class="container">
      <br><br><br><br><br><br>
      <h1 class="header center white-text" style="text-shadow: 2px 2px 3px #3030307f">{{ site.title }}</h1>
      <div class="row center">
        <h5 class="header col s12 white-text" style="text-shadow: 2px 2px 3px #3030307f">{{ content }}</h5>
        <br><br><br><br><br><br><br>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    (function($){
      $(function() {
        var banner = $("#backgroundImg");
        var banner2 = $("#backgroundImg2");
        var useBanner2 = true;
        var images = [
          // Use Liquid to generate the banner image list
          {% for image in site.static_files %}
            {% if image.path contains 'assets/images/home-banner' %}
              "{{ image.path | relative_url }}",
            {% endif %}
          {% endfor %}
        ];
        var i = 0;
        var loading = false;

        function updateBanner()
        {
          if (loading) return;
          if (useBanner2)
          {
            var img = new Image();
            loading = true;
            img.onload = function()
            {
              banner2.css("background-image", 'url("' + images[i] + '")');

              banner.css("z-index", "-5");
              banner2.css("z-index", "-6");

              banner.fadeOut(1000, callback=function()
              {
                i++; i %= images.length;
              });
              banner2.fadeIn(0);
              loading = false;
            };
            img.src = images[i];
          }
          else
          {
            var img = new Image();
            loading = true;
            img.onload = function()
            {
              banner.css("background-image", 'url("' + images[i] + '")');

              banner.css("z-index", "-6");
              banner2.css("z-index", "-5");
            
              banner2.fadeOut(1000, callback=function()
              {
                i++; i %= images.length;
              });
              banner.fadeIn(0);
              loading = false;
            };
            img.src = images[i];
          }
          useBanner2 = !useBanner2;
        }

        banner2.fadeOut(0);
        setInterval(updateBanner, 5000);
        updateBanner();
      });
    })(jQuery);
  </script>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="center-align">
        <div class="icon-block">
        </div>
      </div>
    </div>
      
    </div>
    <div style="background: #ddd">
    <div class="container last-post">
    <section>
        <h5>Latest Post</h5>
        <ul class="collection">
        {% for post in site.posts %}
        <li class="collection-item avatar">
          {% assign date_format = site.minima.date_format | default: "%m/%d" %}
          <div class="date-post">{{ post.date | date: date_format }}</div>
          <span class="title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
          <p>
             {{ post.content | truncatewords: 10 }}
          </p>
          <a href="{{ post.url | relative_url }}" class="secondary-content"><i class="material-icons">navigate_next</i></a>
        </li>
        {% endfor %}
        </ul>  
    </section>
    </div>
</div>

  </div>
